body {
  background-color: #fff;
}

.group {
  margin-top: 200px;
}
     
.text {
  color: #B2AD4E;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}

.random-article {
  text-align: center;
}

a:link, a:visited, a:hover{
  color: #B2AD4E;
  text-decoration:none;
}

/*a:visited{
  color: #B2AD4E;
  text-decoration:none;
}*/




 