body {
  background-color: #fff;
}

.group {
  margin-top: 100px;
}
     
.text {
  color: #B2AD4E;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}

.random-article {
  text-align: center;
}

a:link, a:visited, a:hover{
  color: #B2AD4E;
  text-decoration:none;
}

.form-control {
  border: 2px solid #4682b4;
  z-index: 1;
}

.btn-default {
  border-color: #696969;
  background-color: #E6E6E6;
} 

/* Back Button */

#remove {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #333333;
  cursor: pointer;
}

/*Search Clear */

#searchclear {
  position: absolute;
  right: 45px;
  top: 25px;
  bottom: 0;
  height: 15px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #BDA199;
  z-index: 1000;
  top: 2px;
}

/* Search Results */

.result-title{
  color: #B2AD4E;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

a.description{
  color:#000;
}

.space{
  margin-top: 50px;
}

.search-item:hover{
  border-color: #66AFE9;
  padding-left: 5px;
  border-style: solid;
  border-left-width: 3px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  margin-bottom: 5px;
}

hr{
  border-top: 1px solid #808080;
}

/* No Search Results */

.no-search-results{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #000;
}

/* Dev Info */

.dev-info{
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 14px;
  text-align: right;
  position: relative;
  top: 300px;
  right: 10px;
  color: #344556;
}

#website-link{
  font-weight: 700;
  text-decoration: none;
  color: #344556;
}