* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.group {
  margin-top: 200px;
}
     
.text {
  color: #B2AD4E;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}

.random-article {
  text-align: center;
}

a:link, a:visited, a:hover{
  color: #B2AD4E;
  text-decoration:none;
}

.form-control {
  border: 2px solid #4682b4;
}

.btn-default {
  border-color: #696969;
  background-color: #E6E6E6;
} 

/* Search Results */

.result-title{
  color: #B2AD4E;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

a.description{
  color:#000;
}

.space{
  margin-top: 100px;
}

.search-item:hover{
  border-color: #66AFE9;
  padding-left: 5px;
  border-style: solid;
  border-left-width: 3px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  margin-bottom: 5px;
}